/* RESET */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
summary{margin:0 0 .75em;}
html{font-size:100%;}
body{background:#fff;color:#333;font-family:Arial, helvetica, sans-serif;font-size:1.4em;line-height:1.5;margin:0;}
h1{display:block;font-size:1.8571em;}
h2{display:block;font-size:1.7143em;}
h3{display:block;font-size:1.5714em;}
h4{display:block;font-size:1.4286em;}
h5{display:block;font-size:1.2857em;}
h6{display:block;font-size:1.1429em;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote em, blockquote i {font-style:normal;}
pre{white-space:pre-wrap;word-wrap:break-word;}
code,kbd,pre,samp,tt,var{font-family:menlo,monaco,consolas,"courier new",monospace;font-style:normal;line-height:normal;}
abbr,acronym,dfn{border-bottom:1px dotted;cursor:help;font-style:normal;font-variant: small-caps;}
a:focus{outline:1px dotted;}
img{border:0;}
ul,ol{padding:0 0 0 2em;}
li{margin:0 0 0 2em;}
li ul,li ol{margin:0;}
hr{border:0;border-bottom:1px solid;}
big{font-size:1.25em;}
small,sub,sup{font-size:.875em;}
sub{vertical-align:bottom;top:.5ex;}
sup{vertical-align:top;bottom:1ex;}
del,s,strike{text-decoration:line-through;}
mark{background:#ff0;color:#000;}
fieldset{border:1px solid;padding:1em;}
legend{font-weight:700;padding:0 .25em;}
input,textarea,select,button{font-family:inherit;font-size:1em;line-height:normal;}
input[type=button],input[type=image],input[type=reset],input[type=submit],button[type=button],button[type=reset],button[type=submit]{cursor:pointer;}
table{border:0;border-collapse:collapse;border-spacing:0;table-layout:fixed;margin-bottom:1.5em;}
th,td{border:1px solid;padding:.25em .5em;}
caption{padding:0 0 1em;}
audio,canvas,details,figure,video,address,blockquote,dl,fieldset,form,hr,menu,ol,p,pre,q,table,ul{margin:0 0 1.25em;}
dd{margin:1px 0 1.25em;}
b,strong,dt,th{font-weight:700;}
textarea,caption,th,td{text-align:left;vertical-align:top;}
q:lang(fr){quotes:"« " " »" "“" "”";}
q:lang(it){quotes:"«" "»" "“" "”" "‘" "’";}
q:lang(en){quotes:"“" "”" "‘" "’";}
q::before{content:open-quote;}
q::after{content:close-quote;}
sup,sub{vertical-align:0;position:relative;}
h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child{margin-top:0;}
p:last-child,ul:last-child,ol:last-child,dl:last-child,blockquote:last-child,pre:last-child,table:last-child{margin-bottom:0;}
li p,li ul{margin-bottom:0;margin-top:0;}
textarea,table,td,th,code,pre,samp,div,p{word-wrap:break-word;hyphens:auto;}
code,pre,samp{white-space:pre-wrap;}
kbd{border:solid 1px;border-top-left-radius:.5em;border-top-right-radius:.5em;padding:0 .25em;}
abbr[title]{border-bottom:dotted 1px;cursor:help;}
a:link img,a:visited img,img{border-style:none;}
blockquote,q,cite,i{font-style:italic;}
sub,sup,code{line-height:1;}
ins,u{text-decoration:underline;}
img,table,td,blockquote,code,pre,textarea,input{height:auto;max-width:100%;}
body {
font-family:Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
width:100%;
}
mark {
	background:#fff8ab;
	color:#666
}
a {
color:#333;
}

#header {
text-align:center;
}

#header h1 a {
color:#333;
font-weight:700;
letter-spacing:-2px;
line-height:1.3em;
text-align:center;
text-decoration:none;
font-size:100%;
font-variant:small-caps;
margin:.2em;
}

nav {
display:flex;
justify-content:space-around;
margin:auto;
}

nav a {
color:#727272;
text-decoration:none;
font-variant:small-caps;
}

[rel=author] img {
border-radius:100%;
vertical-align:middle;
}

#main,nav {
width:80%;
max-width:800px;
margin:auto;
}

#main {
padding:2em 0;
}

code,samp,var {
border-radius:5px;
background-color:#333;
color:#fff;
display:block;
margin:.125em;
padding:1em;
}

article {
text-align:justify;
box-sizing:border-box;
margin-bottom:2em;
}

article header {
text-align:center;
margin-bottom:5em;
border-bottom:5px #000 solid;
padding-bottom:1em;
}

article [rel=tag] {
text-decoration:none;
font-size:.5em;
}

article header h1 {
font-size:2em;
line-height:1.5em;
font-variant:small-caps;
}

article header p {
font-size:.8em;
margin-top:-1em;
padding:0;
}

article [rel=author] a {
font-variant:small-caps;
text-decoration:none;
}

article [rel=author] img {
border-radius:100%;
width:25px;
height:25px;
vertical-align:middle;
}

article p:nth-of-type(1) {
font-weight:700;
}

article p:nth-of-type(1):first-letter {
text-transform:capitalize;
font-size:6.854rem;
line-height:5.4rem;
float:left;
text-indent:5%;
color:#000;
margin:12px 6px 0 0;
}

article p:nth-of-type(1):first-line {
font-variant:small-caps;
font-size:1.1em;
}

article footer {
text-align:left;
}

:target {
background:#ff0;
color:#000;
}

.list_article {
list-style-type:none;
}

.list_article a {
font-weight:700;
text-decoration:none;
}

.list_article time:after {
content:' - ';
}

figure {
background:#FFF;
border:#eee solid .125em;
border-radius:8px;
max-width:60%;
display:block;
overflow:auto;
margin:auto auto 1em;
padding:6px;
}

figure img {
max-width:96%;
display:block;
margin:auto;
}

figcaption {
background:#eee;
text-align:center;
border-radius:0 0 7px 7px;
font-size:.8em;
padding:.125em .5em;
}

blockquote {
border-left:5px solid #ccc;
margin-bottom:1em;
background:rgba(0,0,0,0.05);
padding:1em 1em 1em 5em;
}

blockquote cite,abbr {
font-variant:small-caps;
}

blockquote p:nth-of-type(1),.footnotes p:nth-of-type(1) {
font-weight:400;
color:inherit;
}

blockquote p:nth-of-type(1):first-letter,.footnotes p:nth-of-type(1):first-letter {
text-transform:inherit;
font-size:inherit;
line-height:inherit;
float:inherit;
font-style:inherit;
margin:inherit;
}

blockquote p:nth-of-type(1):first-line,.footnotes p:nth-of-type(1):first-line {
font-variant:normal;
font-size:inherit;
}

cite {
display:block;
}

footer {
color:#727272;
font-size:.75em;
text-align:center;
padding:3em 0;
}

hr {
display:block;
height:1px;
border:0;
background:linear-gradient(toright,rgba(0,0,0,0) 0 25% 75% 100%;
opacity:0.25;
margin:2em 0;
}