@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?95802849');
  src: url('font/fontello.eot?95802849#iefix') format('embedded-opentype'),
       url('font/fontello.woff?95802849') format('woff'),
       url('font/fontello.ttf?95802849') format('truetype'),
       url('font/fontello.svg?95802849#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 [class^="icon-"]:before, [class*=" icon-"]:before{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
font-size:120%;
}
[class^="icon-"]:hover, [class*=" icon-"]:hover {
cursor:pointer;
}
.icon-resize-full-alt:before { content: '\e800'; } /* '' */
.icon-floppy:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e802'; } /* '' */
.icon-help-circled:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e804'; } /* '' */
.icon-upload:before { content: '\e805'; } /* '' */
.icon-bold:before { content: '\e80c'; } /* '' */
.icon-italic:before { content: '\e806'; } /* '' */
.icon-link:before { content: '\e807'; } /* '' */
.icon-quote:before { content: '\e808'; } /* '' */
.icon-list-bullet:before { content: '\e809'; } /* '' */
.icon-list-numbered:before { content: '\e80a'; } /* '' */
.icon-picture:before { content: '\e80b'; } /* '' */
.visually-hidden {clip: rect(0 0 0 0);overflow: hidden;position: absolute;height: 1px;width: 1px;}
body {
max-width:1000px;
margin:auto;
	 font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

}
#editor, #preview, #info {float:left;overflow: hidden;word-wrap: break-word; }
#editor { width:60%;}
#preview, #info { width:40%;}
textarea, input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
	border: 1px #ccc solid;
	border-radius: 5px;
	padding: 6px 4px;
	outline: none;
	border-radius: 2px;
	color: #666;
	margin: 0;
	box-sizing: border-box;
	background: #fff;
	display: block;
	width:100%;
	border-color:transparent;
	 font-size:1.2em;
	 overflow : hidden;
}
input {
border-bottom: 1px solid black;
}
textarea:focus {
color:#000;
}
.notif {
border-radius:10px;
padding:10px;
background-color:transparent;
}
.list_files{
list-style:none;
margin:0;
padding:0;
font-size:1em;
float:left;
margin-left:-20%;
position:fixed;
}
#info {
display:none;
}
.toolbar {
font-size:1em;
margin: 0;
box-sizing: border-box;
}
button {font-size:1em; margin-left:0;}
output, #upload, .success {
color:#999;
display:inline;
}
.toolbar a, .toolbar button {
display:inline-block;
}
.list_files a {color:#ddd; display:inline}

.toolbar:hover {
color:#999;
transition-property: color;
transition-duration: 1s;
}
.toolbar a:hover, .toolbar button:hover, .toolbar output:hover {
color:#000;
transition-property: color;
transition-duration: 1s;
}
.solarised {
  background-color: #073642;
  color: #839496;
}
button, input[type="file"] {
border:0;
background:transparent;
}
blockquote {
border-left: 5px solid #f1f0ea;
padding-left: 5px;
}
#dropArea {
	background: #fff;
	border: 1px solid #999;
	font-size: 2em;
	color:#999;
	height: 2em;
	line-height: 2em;
	text-align: center;
	border-radius:5px;
}