/* ----------------------------- */
/* ==reset */
/* ----------------------------- */

/* base font-size corresponds to 10px and is adapted to rem unit */
html {
	font-size: 62.5%;
}
body {
	background-color: #fff;
	color: #000;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1.4em; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
	overflow-y:none;
	overflox-x:none;
}

/* font-sizing for content */
/* preserves vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details, 
figure, 
hgroup {
	font-size: 1em; /* equiv 14px */
	line-height: 1.5;
	margin: .75em 0 0;
}
h1, .h1-like {
	font-size: 1.8571em; /* equiv 26px */
	font-weight: normal;
	line-height: 1.6154em;
	margin: .8077em 0 0 0;
}
h2, .h2-like {
	font-size: 1.7143em; /* equiv 24px */
	font-weight: normal;
	line-height: 1.75em;
	margin: .875em 0 0 0;
}
h3, .h3-like {
	font-size: 1.5714em; /* equiv 22px */
	font-weight: normal;
	line-height: 1.909em;
	margin: .9545em 0 0 0;
}
h4, .h4-like {
	font-size: 1.4286em; /* equiv 20px */
	font-weight: normal;
	line-height: 1.05em;
	margin:  1.05em 0 0 0;
}
h5, .h5-like {
	font-size: 1.2857em; /* equiv 18px */
	font-weight: normal;
	line-height: 1.1667em;
	margin:  1.1667em 0 0 0;
}
h6, .h6-like {
	font-size: 1.1429em; /* equiv 16px */
	font-weight: normal;
	line-height: 1.3125em;
	margin:  1.3125em 0 0 0;
}

/* alternate font-sizing */
.smaller {
	font-size: .7143em; /* equiv 10px */
}
.small {
	font-size: .8571em; /* equiv 12px */
}
.big {
	font-size: 1.1429em; /* equiv 16px */
}
.bigger {
	font-size: 1.2857em; /* equiv 18px */
}
.biggest {
	font-size: 1.4286em; /* equiv 20px */
}

/* soft reset */
html,
body,
textarea,
figure,
label {
	margin: 0;
	padding: 0;
}
ul,
ol {
	padding-left: 2em;
}
ul.unstyled {
	list-style: none;
}
code, 
pre,
samp,
kbd {
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
	line-height: 1em;
}
code, kbd, mark {
	border-radius: 2px;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
kbd {
	padding: 0 2px;
	border: 1px solid #999;
}
code {
	padding: 2px 4px;
	background: rgba(0,0,0,.04);
	color: #b11; 
}
mark {
	padding:2px 4px;
	background: #ff0;
}

table { margin-bottom: 1.5em; }

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
	     -o-hyphens: auto;
	        hyphens: auto;
}

/* pictures */
img {
	height: auto;
	vertical-align: middle;
}
header {
	padding: 20px;
	background: #393D48;
	color: #d7ceb2;
 background-image: linear-gradient(135deg, rgba(255,255, 255, 0.05) 25%, transparent 25%,
                        transparent 50%, rgba(255,255, 255, 0.05) 50%, rgba(255,255, 255, 0.05) 75%,
                        transparent 75%, transparent);

}
.sticky {
	background: #f3efd1;
	display:inline-block;
	width:340px;
	height:240px;
	position:relative;
	margin:40px 0 0 20px;
	border:1px solid #f3f0d3;
	box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.2);
	text-align: center;
	transform:rotate(7deg);
		box-shadow: inset 0 0 22px 8px rgba(220,215,174,0.35);
		overflow: scroll;
		overflow-x:hidden;


}

.inner {
	height:100%;
	z-index:1;
}

.sticky .paper {
	position: absolute;
	line-height: 1.4em;
	font-size: 22px;
	color: #494949;
	padding: 43px 10px 0 37px;
}

.paper b {
	background:#fdfbf0;
	padding:0 5px;
	font-size:17px; 
}

.scratch {
	display:block;
	background-color:rgba(255,255,255,0.4);
	width:45%;
	height:33px;
	margin:-20px 0 0 28%;
	float:left;
	transform: rotate(-2deg);
	-ms-transform: rotate(-2deg); /* IE 9 */
	-webkit-transform: rotate(-2deg); /* Safari and Chrome */
	-o-transform: rotate(-2deg); /* Opera */
	-moz-transform: rotate(-2deg); /* Firefox */
	box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.1);
}
input,
textarea,
select {



border: 1px solid #D0D0D0;
background: #FBFBFB;
shadow: inset 0 1px 2px rgba(0,0,0,.05);
border-radius: 5px;
font-size: 14px;
color: #444;
}
a.button {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 10px;
}
a.button:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); 
	-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.button:active {
    color: #000;
    border-color: #444;
}

table {
border:1px solid gray;
border-collapse:collapse;
border-spacing:0;
margin:0;
}

table td,table th {
border:1px solid #ccc;
padding:4px;
vertical-align:top;
}

table th {
background:#abc2cd;
}

table tr:nth-child(2n+1) {
background-color:rgba(167,203,215,0.5);
}