a{
	color:#000;
}

*{
	font-size:20px;
}

body{
	max-width:70%;
	font-family:Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	margin:auto;
}

.paper{
	box-shadow:0 1px 1px rgba(0,0,0,0.3), 0 6px 0 -3px #e5e5e5, 0 7px 1px -3px rgba(0,0,0,0.3), 0 12px 0 -6px #e5e5e5, 0 13px 1px -6px rgba(0,0,0,0.3), 0 18px 0 -9px #e5e5e5, 0 19px 1px -9px rgba(0,0,0,0.3), 0 24px 0 -12px #e5e5e5, 0 25px 20px -8px rgba(0,0,0,0.2);
	white-space:pre-wrap;
	font-size:100%;
	line-height:1.9em;
	box-sizing:border-box;
	background-image:linear-gradient(to right,#0055A4 33%,#FFFFFF 33%,#FFFFFF 66%,#EF4135 66%);
	background-size:100% 5px;
	background-position:0 0;
	background-repeat:no-repeat;
	margin:auto auto 1%;
	padding:5%;
}
.paper img{
display:flex;
justify-content:center;
margin:auto;
}
footer{
	font-size:100%;
	line-height:1.9em;
	box-sizing:border-box;
	text-align:center;
	margin:auto;
}

form{
	border:thin solid #282828;
}

label,header{
	display:none;
}

input[type="number"],input[type="submit"]{
	position:relative;
	display:block;
	box-sizing:border-box;
	margin:0 auto 10px;
	padding:15px;
}

input[type"number"]{
	font-weight:300;
	border:thin solid #efefef;
	color:#4f4f4f;
	margin:10px auto 10px;
}

input[type="number"]:focus{
	border:thin solid #ededed;
	transition:all .4s ease;
	border-left:thin solid #282828;
}

input[type="submit"]{
	color:#282828;
	background-color:#fff;
	border:1px solid #282828;
	border-radius:2px;
	font-weight:300;
	transition:all .2s ease;
	margin-top:15px;
	cursor:pointer;
}

input[type="submit"]:hover{
	background-color:#282828;
	color:#fff;
}
