﻿ article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
summary{margin:0 0 .75em;}
html{font-size:100%;}
body{background:#fff;color:#333;font-family:Arial, helvetica, sans-serif;font-size:1em;line-height:1.5;margin:0;}
h1{display:block;font-size:1.8571em;line-height:1.6154;margin:1.6154em 0 .8077em;}
h2{display:block;font-size:1.7143em;line-height:1.75;margin:1.75em 0 .875em;}
h3{display:block;font-size:1.5714em;line-height:1.909;margin:1.909em 0 .9545em;}
h4{display:block;font-size:1.4286em;line-height:1.05;margin:2.1em 0 1.05em;}
h5{display:block;font-size:1.2857em;line-height:1.1667;margin:2.3334em 0 1.1667em;}
h6{display:block;font-size:1.1429em;line-height:1.3125;margin:2.625em 0 1.3125em;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
pre{white-space:pre-wrap;word-wrap:break-word;}
code,kbd,pre,samp,tt,var{font-family:menlo,monaco,consolas,"courier new",monospace;font-style:normal;line-height:normal;}
abbr,acronym,dfn{border-bottom:1px dotted;cursor:help;font-style:normal;font-variant:font-variant: small-caps;}
a:focus{outline:1px dotted;}
img{border:0;}
ul,ol{padding:0 0 0 0em;}
li{margin:0 0 0 0em;}
li ul,li ol{margin:0;}
hr{border:0;border-bottom:1px solid;}
big{font-size:1.25em;}
small,sub,sup{font-size:.875em;}
sub{vertical-align:bottom;top:.5ex;}
sup{vertical-align:top;bottom:1ex;}
del,s,strike{text-decoration:line-through;}
mark{background:#ff0;color:#000;}
fieldset{border:1px solid;padding:1em;}
legend{font-weight:700;padding:0 .25em;}
input,textarea,select,button{font-family:inherit;font-size:1em;line-height:normal;}
input[type=button],input[type=image],input[type=reset],input[type=submit],button[type=button],button[type=reset],button[type=submit]{cursor:pointer;}
table{border:0;border-collapse:collapse;border-spacing:0;table-layout:fixed;margin-bottom:1.5em;}
th,td{border:1px solid;padding:.25em .5em;}
caption{padding:0 0 1em;}
audio,canvas,details,figure,video,address,blockquote,dl,fieldset,form,hr,menu,ol,p,pre,q,table,ul{margin:0 0 1.25em;}
dd{margin:1px 0 1.25em;}
b,strong,dt,th{font-weight:700;}
textarea,caption,th,td{text-align:left;vertical-align:top;}
q:lang(fr){quotes:"« " " »" “ ”;}
q:lang(it){quotes:« » “ ” ‘ ’;}
q:lang(en){quotes:“ ” ‘ ’;}
q::before{content:open-quote;}
q::after{content:close-quote;}
sup,sub{vertical-align:0;position:relative;}
h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child{margin-top:0;}
p:last-child,ul:last-child,ol:last-child,dl:last-child,blockquote:last-child,pre:last-child,table:last-child{margin-bottom:0;}
li p,li ul{margin-bottom:0;margin-top:0;}
textarea,table,td,th,code,pre,samp,div,p{word-wrap:break-word;hyphens:auto;}
code,pre,samp{white-space:pre-wrap;}
kbd{border:solid 1px;border-top-left-radius:.5em;border-top-right-radius:.5em;padding:0 .25em;}
abbr[title]{border-bottom:dotted 1px;cursor:help;}
a:link img,a:visited img,img{border-style:none;}
blockquote,q,cite,i{font-style:italic;}
sub,sup,code{line-height:1;}
ins,u{text-decoration:underline;}
img,table,td,blockquote,code,pre,textarea,input{height:auto;max-width:100%;}/*STRUCTURE */


main {
max-width:800px;
margin:auto;
}
.header {
color:#fff;
padding-left:5px;
padding-right:5px;
background-color:#fafafa;
background-image:linear-gradient(tobottom,#ffffff,#f0f0f0);
background-repeat:repeat-x;
border:1px solid #d4d4d4;
border-radius:4px;
box-shadow:inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 3px rgba(0,0,0,0.15);
display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	vertical-align:middle;
}
.form_admin {
float:right;
	position: absolu;
	z-index: 5;
	display:inline-block;
	vertical-align:middle;
	margin-top:1em;
	margin-right:3em;
}
@media (max-width: 640px) {
	.header {
		flex-direction: column;
		text-align: center;
	}
}
[rel=author] {
font-weight:700;
}

h1 {
font-size:1.8571em;
color:#666;
}

textarea,input {
font-family:inherit;
font-size:inherit;
font-weight:inherit;
line-height:inherit;
-webkit-appearance:none;
border:1px #ccc solid;
outline:none;
border-radius:2px;
color:#666;
box-sizing:border-box;
background:#fff;
display:block;
width:100%;
overflow:hidden;
word-wrap:break-word;
border-color:transparent;
margin:0;
padding:6px 4px;
}

article,h1,textarea,input,section, label {
border:none;
color:#666;
font-family:Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
font-size:1.2em;
}
article {
padding:1em;
}
label {
float:left;
vertical-align:middle;
}
section#stat {
text-align:center;
}
main h1 {
text-align:center;
}
ul {
color:#666;
text-align:center;
list-style-type:none;
}
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration:none;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}
input[type=submit]:hover, .book article:hover {
background:#CCC;
}

textarea:focus,input[type=text]:focus {
color:#000;
}
input[type=password] {
border: 1px solid #CCC;
}
input[type=text]:focus {
border-bottom:1px solid #000;
}

.notif {
border-radius:10px;
background-color:transparent;
margin:10px;
padding:10px;
}

output {
color:#666;
}

a {
color:gray;
}
hr {
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
progress {
display:block;
width:50%;
height:2em;
border:3px solid #FFF;
border-radius:5px;
background-color:#d4d4d4;
box-shadow:0 0 0 3px #b6b6b6;
margin:1em auto auto;
}

to {
background-position:100% 100%;
}

progress::-webkit-progress-bar {
border-radius:5px;
background-color:#3498db;
}

progress::-webkit-progress-value {
border-radius:5px;
background-color:#3498db;
background-size:40px 40px;
-webkit-animation:progress 8s linear infinite;
animation:progress 8s linear infinite;
}

progress::-moz-progress-bar {
border-radius:5px;
background-color:#3498db;
background-size:40px 40px;
-moz-animation:progress 8s linear infinite;
animation:progress 8s linear infinite;
}