body {
color: #555;
font-family: "Open Sans", "Liberation Sans", sans-serif;
}

main, header, section {
max-width:800px;
margin:auto;
padding:1em;
}

h1, h2 {
color: #555;
font-weight: 600;
}

h1 {
font-size: 2em;
text-align: center;
}

h2 {
font-size: 1.5em;
}

p {
font-size: 1em;
line-height: 1.5em;
}

.header {
color:#fff;
background-color:#fafafa;
border:1px solid #d4d4d4;
border-radius:4px;
box-shadow:inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 3px rgba(0,0,0,0.15);
}

#stat {
text-align: center;
}

a, a h2 {
color: #555;
text-align: center;
transition: all 0.3s ease-out;
}

.link h2:hover {
color: #999;
cursor: pointer;
}

@media (max-width: 640px) {
	.header {
		flex-direction: column;
		text-align: center;
	}
}
[rel=author] {
font-weight:600;
}

textarea,input {
font-family:inherit;
font-size:inherit;
font-weight:inherit;
line-height:inherit;
-webkit-appearance:none;
border:1px #ccc solid;
outline:none;
border-radius:2px;
color:#666;
box-sizing:border-box;
background:#fff;
display:block;
width:100%;
overflow:hidden;
word-wrap:break-word;
border-color:#d4d4d4;
margin: 1em 0 1em;
padding:6px 4px;
}
input[type="submit"]{
width: auto;
}
label {
float:left;
vertical-align:middle;
}
ul {
list-style-type:none;
text-align: center;
}
.close {
  float: right;
  font-size: 20px;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration:none;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}
input[type=submit]:hover, .book article:hover {
transition: all 0.3s ease-out;
background:#eee;
cursor:pointer;
}

article {
border-radius: 4px;
}

textarea:focus,input[type=text]:focus {
color:#000;
}
input[type=password] {
border: 1px solid #CCC;
}
input[type=text]:focus {
border-bottom:1px solid #000;
}

.notif {
border-radius:10px;
background-color:transparent;
margin:10px;
padding:10px;
}

output {
color:#666;
}

hr {
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
progress {
display:block;
width:50%;
height:2em;
border:3px solid #FFF;
border-radius:5px;
background-color:#d4d4d4;
box-shadow:0 0 0 3px #b6b6b6;
margin:1em auto auto;
}

to {
background-position:100% 100%;
}

progress::-webkit-progress-bar {
border-radius:5px;
background-color:#3498db;
}

progress::-webkit-progress-value {
border-radius:5px;
background-color:#3498db;
background-size:40px 40px;
-webkit-animation:progress 8s linear infinite;
animation:progress 8s linear infinite;
}

progress::-moz-progress-bar {
border-radius:5px;
background-color:#3498db;
background-size:40px 40px;
-moz-animation:progress 8s linear infinite;
animation:progress 8s linear infinite;
}
