:root {
  --main-color: #bf360c;
}
body,
html {
    margin: 0;
    padding: 0;
    background: #eee;
    color: rgba(0, 0, 0, .87);
    font-family: "Open Sans", sans-serif;
    word-wrap: break-word;
    font-size: 1em
}
main a {
    color: #4292c6;
    text-decoration: none
}
main a:hover {
    color: #1f78b4;
    text-decoration: none
}
nav {
    background: var(--main-color);
    color: #fff;
    min-height: 64px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 1em;
    margin: auto;
    display: flex;
    justify-content: space-around;
    z-index: 999;
}
nav > a {
    padding: 10px;
    color: #fff;
    text-decoration: none
}
nav > a:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
    text-decoration: none
}
main {
    margin: 0.5em auto 1em auto;
    max-width: 900px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
    background: #fff;
}

.articlecard {
	display:block;
	border-bottom: 1px solid #ccc;
	padding:1em;
	box-sizing:border-box;
	vertical-align:top;
}

.articlecard:nth-child(odd) {
	background-color: #f5f5f5;
}

.metadata {
	color:#333;
	font-size:0.75em;
	margin-left:1em;
	display:block;
}

@media (max-width: 885px) {
    nav {
        flex-direction: column;
        text-align: center;
        box-sizing: content-box
    }
}