/* RESET */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
html{font-size:100%;}
body{background:#fff;color:#333;font-family: Liberation Sans, sans-serif;font-size:18px;line-height:1.5;margin:0;}
h1{display:block;font-size:1.8571em;}
h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child{margin-top:0;}
p:last-child,ul:last-child,ol:last-child,dl:last-child,blockquote:last-child,pre:last-child,table:last-child{margin-bottom:0;}
textarea,table,td,th,code,pre,samp,div,p{word-wrap:break-word;hyphens:auto;}
a:link img,a:visited img,img{border-style:none;}
@viewport {
	width: device-width;
	zoom: 1.0;
	user-zoom: zoom;
}
body {
	font-family: Open Sans, Helvetica,Arial,FreeSans,sans-serif;
	width:100%;
	margin:auto;
}
::selection {
	background:#fff8ab;
	color:#666;
}
::-moz-selection {
	background:#fff8ab;
	color:#666;
}
:target {
	background:#fff8ab;
	color:#666;
}
a {
	color:#333;
	font-size:100%;
	font-weight:600;
	line-height:1.3em;
	text-align:center;
	text-decoration:none;
	transition: ease .3s;
}
a:hover {color:#777;}

#main {
	padding:2em 0;
}
nav {
	display:none;
	margin:-1em;
}
.articlecard {
	display:block;
	border-bottom: 1px solid #ccc;
	padding:1em;
	box-sizing:border-box;
	vertical-align:top;
    }

.articlecard:nth-child(odd) {
	background-color: #f5f5f5;
}

.metadata {
	color:#333;
	font-size:0.75em;
	margin-left:1em;
	display:block;
}
mark {
	background:#fff8ab;
	color:#666;
}
