/* RESET */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
summary{margin:0 0 .75em;}
html{font-size:100%;}
body{background:#fff;color:#333;font-family:Arial, helvetica, sans-serif;font-size:1.4em;line-height:1.5;margin:0;}
h1{display:block;font-size:1.8571em;}
h2{display:block;font-size:1.7143em;}
h3{display:block;font-size:1.5714em;}
h4{display:block;font-size:1.4286em;}
h5{display:block;font-size:1.2857em;}
h6{display:block;font-size:1.1429em;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote em, blockquote i {font-style:normal;}
pre{white-space:pre-wrap;word-wrap:break-word;}
code,kbd,pre,samp,tt,var{font-family:menlo,monaco,consolas,"courier new",monospace;font-style:normal;line-height:normal;}
abbr,acronym,dfn{border-bottom:1px dotted;cursor:help;font-style:normal;font-variant: small-caps;}
a:focus{outline:1px dotted;}
img{border:0;}
ul,ol{padding:0 0 0 2em;}
li{margin:0 0 0 2em;}
li ul,li ol{margin:0;}
hr{border:0;border-bottom:1px solid;}
big{font-size:1.25em;}
small,sub,sup{font-size:.875em;}
sub{vertical-align:bottom;top:.5ex;}
sup{vertical-align:top;bottom:1ex;}
del,s,strike{text-decoration:line-through;}
mark{background:#ff0;color:#000;}
fieldset{border:1px solid;padding:1em;}
legend{font-weight:700;padding:0 .25em;}
input,textarea,select,button{font-family:inherit;font-size:1em;line-height:normal;}
input[type=button],input[type=image],input[type=reset],input[type=submit],button[type=button],button[type=reset],button[type=submit]{cursor:pointer;}
table{border:0;border-collapse:collapse;border-spacing:0;table-layout:fixed;margin-bottom:1.5em;}
th,td{border:1px solid;padding:.25em .5em;}
caption{padding:0 0 1em;}
audio,canvas,details,figure,video,address,blockquote,dl,fieldset,form,hr,menu,ol,p,pre,q,table,ul{margin:0 0 1.25em;}
dd{margin:1px 0 1.25em;}
b,strong,dt,th{font-weight:700;}
textarea,caption,th,td{text-align:left;vertical-align:top;}
q:lang(fr){quotes:"« " " »" "" "";}
q:lang(it){quotes:"«" "»" "" "" "" "";}
q:lang(en){quotes:"" "" "" "";}
q::before{content:open-quote;}
q::after{content:close-quote;}
sup,sub{vertical-align:0;position:relative;}
h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child{margin-top:0;}
p:last-child,ul:last-child,ol:last-child,dl:last-child,blockquote:last-child,pre:last-child,table:last-child{margin-bottom:0;}
li p,li ul{margin-bottom:0;margin-top:0;}
textarea,table,td,th,code,pre,samp,div,p{word-wrap:break-word;hyphens:auto;}
code,pre,samp{white-space:pre-wrap;}
kbd{border:solid 1px;border-top-left-radius:.5em;border-top-right-radius:.5em;padding:0 .25em;}
abbr[title]{border-bottom:dotted 1px;cursor:help;}
a:link img,a:visited img,img{border-style:none;}
blockquote,q,cite,i{font-style:italic;}
sub,sup,code{line-height:1;}
ins,u{text-decoration:underline;}
img,table,td,blockquote,code,pre,textarea,input{height:auto;max-width:100%;}
/* STRUCTURE GENERALE */
body {
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	width:100%;
}
::selection {
	background:#fff8ab;
	color:#666;
}
::-moz-selection {
	background:#fff8ab;
	color:#666;
}
:target {
	background:#fff8ab;
	color:#666;
}
/* Ossature */
#header {
	border-bottom:5px #000 solid;
	text-align:center;
}

#header h1 a {
	color:#333;
	font-size:100%;
	font-variant:small-caps;
	font-weight:700;
	letter-spacing:-2px;
	line-height:1.3em;
	margin:.2em;
	text-align:center;
	text-decoration:none;
}

#main {
	padding:2em 0;
}

#main {
	margin:auto;
	max-width:1500px;
}
nav {
	width:100%;
	margin:auto;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	margin:auto;
}

nav a {
	color:#727272;
	font-variant:small-caps;
	text-decoration:none;
}
footer {
	color:#727272;
	font-size:.75em;
	padding:3em 0;
	text-align:center;
}
/* Mise en page article */
.block{
display:block;
border-bottom:1px dashed #333;
	margin-top:1em;
	padding: 2em 2em 2em;
	border: 1px solid #e5e5e5;
	box-sizing:border-box;
	resize: both;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3), 0 6px 0 -3px #e5e5e5, 0 7px 1px -3px rgba(0,0,0,0.3), 0 12px 0 -6px #e5e5e5, 0 13px 1px -6px rgba(0,0,0,0.3), 0 18px 0 -9px #e5e5e5, 0 19px 1px -9px rgba(0,0,0,0.3), 0 24px 0 -12px #e5e5e5, 0 25px 20px -8px rgba(0, 0, 0, 0.2);
}
article {
	box-sizing:border-box;
	margin-bottom:2em;
	text-align:left;
	width:80%;
	max-width:750px;
	margin:auto;
}
/* Mise en page gιnιral du contenu */
table {
	margin-top:1em;
	padding: 2em 2em 2em;
	border: 1px solid #e5e5e5;
	box-sizing:border-box;
	vertical-align:top;
	resize: both;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3), 0 6px 0 -3px #e5e5e5, 0 7px 1px -3px rgba(0,0,0,0.3), 0 12px 0 -6px #e5e5e5, 0 13px 1px -6px rgba(0,0,0,0.3), 0 18px 0 -9px #e5e5e5, 0 19px 1px -9px rgba(0,0,0,0.3), 0 24px 0 -12px #e5e5e5, 0 25px 20px -8px rgba(0, 0, 0, 0.2);
	width:100%;
}

th {
	background-color: #e5e5e5;
	color:#333;
	border: 1px solid #e5e5e5;
	padding: 0.5em;
	text-align:center;
	vertical-align:middle;
}

td {
	border: 1px solid #e5e5e5;
	padding: 0.5em;
	text-align:center;
	vertical-align:middle;
}
a {
color:#333;
}
blockquote {
	background:rgba(0,0,0,0.05);
	border-left:5px solid #ccc;
	margin-bottom:1em;
	padding:1em 1em 1em 5em;
}
blockquote cite,abbr {
	font-variant:small-caps;
}

blockquote p:nth-of-type(1),.footnotes p:nth-of-type(1) {
	color:inherit;
	font-weight:400;
}

blockquote p:nth-of-type(1):first-letter,.footnotes p:nth-of-type(1):first-letter {
	float:inherit;
	font-size:inherit;
	font-style:inherit;
	line-height:inherit;
	margin:inherit;
	text-transform:inherit;
}

blockquote p:nth-of-type(1):first-line,.footnotes p:nth-of-type(1):first-line {
	font-size:inherit;
	font-variant:normal;
}



cite {
	display:block;
}

code,samp,var {
	background-color:#333;
	border-radius:5px;
	color:#fff;
	display:block;
	margin:.125em;
	padding:1em;
}

figcaption {
	background:#eee;
	border-radius:0 0 7px 7px;
	font-size:.8em;
	padding:.125em .5em;
	text-align:center;
}

figure {
	background:#FFF;
	border:#eee solid .125em;
	border-radius:8px;
	display:block;
	margin:auto auto 1em auto;
	overflow:auto;
	padding:6px;
}

figure img {
	display:block;
	margin:auto;
	max-width:96%;
}



hr {
	background:linear-gradient(toright,rgba(0,0,0,0) 0 25% 75% 100%);
	border:0;
	display:block;
	height:1px;
	margin:2em 0;
	opacity:0.25;
}

mark {
	background:#fff8ab;
	color:#666;
}
.msg {
	border-radius:10px;
	padding:10px;
	font-weight:bold;
	color:#1e4566;
	background:#63a5cd;
	margin:auto;
}

/* formulaire et administration */

form {
	margin-top:1em;
	padding: 2em 2em 2em;
	border: 1px solid #e5e5e5;
	box-sizing:border-box;
	vertical-align:top;
	resize: both;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3), 0 6px 0 -3px #e5e5e5, 0 7px 1px -3px rgba(0,0,0,0.3), 0 12px 0 -6px #e5e5e5, 0 13px 1px -6px rgba(0,0,0,0.3), 0 18px 0 -9px #e5e5e5, 0 19px 1px -9px rgba(0,0,0,0.3), 0 24px 0 -12px #e5e5e5, 0 25px 20px -8px rgba(0, 0, 0, 0.2);

}

label {
	font-size: 0.8em;
	padding: 1em 0 0.5em;
}
textarea, input, select {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
	border: 1px #ccc solid;
	border-radius: 5px;
	padding: 6px 4px;
	outline: none;
	border-radius: 2px;
	color: #666;
	margin: 0;
	box-sizing: border-box;
	background: #fff;
	display: block;
	border-color:transparent;
	font-size:1em;
	overflow : hidden;
	width:100%;
}
input {
border-bottom: 1px solid black;
}
input[type="checkbox"] {display:inline-block; padding:0; margin:auto; width:0%;}
textarea:focus {
color:#000;
}
.button {
	display:inline-block;
	padding: 1em;
	text-decoration:none;
	margin:auto;
	width:90%;
	text-align:center;
	border:1px solid #000;
}
.notif {
border-radius:10px;
padding:10px;
background-color:transparent;
display:block;
}
button, input[type="file"] {
border:0;
background:transparent;
}
@media (max-width: 1000px) {
	nav {
		flex-direction: column;
		text-align: center;
		font-size:2em;
	}
	.button {
		font-size:2em;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 22sp;
	}
	article aside {
		float: none;
		width: 100%;
		margin-left: 0%;
		font-size: .8em;
		color: #999;
		display: inline;
	}
	article p,
	article code,
	article figure {
		margin-left: 0%;
	}
	table {
		width:90%;
		margin:auto;
	}
}
@media print {
	body {
		width: auto!important;
		margin: auto!important;
		font-family: serif;
		font-size: 12pt;
		background-color: #fff!important;
		color: #000!important;
	}
	article aside {
		float: none;
		width: 100%;
		margin-left: 0%;
		font-size: .8em;
		color: #999;
		display: inline;
	}
	header,
	footer,
	nav {
		display: none;
	}
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	blockquote,
	ul,
	ol {
		color: #000!important;
		margin: auto!important;
	}
	p,
	blockquote {
		orphans: 3;
		widows: 3;
	}
	blockquote,
	ul,
	ol {
		page-break-inside: avoid;
	}
	body > h1,
	body > header > h1 {
		page-break-before: always;
	}
	h1,
	h2,
	h3,
	caption {
		page-break-after: avoid;
	}
	a {
		color: #000!important;
		text-decoration: underline!important;
	}
	main a[href]:after {
		content: " (http://example.org/" attr(href) ")";
	}
}