body {
	max-width:950px;
	font-size:100%;
	background:transparent;
	color: #424242;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu, Arial, "Open Sans", "Noto Sans", "Fira Sans", "Droid Sans", Cantarell,"Helvetica Neue",sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Emoji Regular";
	font-size:1em;
	line-height:1.5;
	margin:auto;
	text-rendering:optimizelegibility;

}
header {
	text-transform : uppercase;
	text-align:center;
	font-weight: bold;
	font-size:2em;
}
table {
	max-width:100%;
}
img {
	max-width: 100%;
	height: auto;
	border:0;
	vertical-align: middle;
}
section {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .10);
	border-radius:0.25em;
    background: #fff;
	border: 1px solid #e5e5e5;
	box-sizing:border-box;
	margin:1em;
	padding:1em;
}
textarea, input {
	border-radius: 20px; 
	border:1px solid #ccc;
	width:97%;
	padding:1em;
	margin:1em;
	margin:auto;
}
#messages {
	max-height:500px;
	overflow-y: auto;
	margin-bottom:1em;
}
.avatar {
	border-radius:100%;
	height:20px;
	width:20px;
}
.message {
	border-radius:12px;
	padding:1em;
	margin:1em;
	vertical-align:middle;
    background: #eee; /*rgba(0, 0, 0, 0.1);*/
    border:1px solid #ccc;
}
.message time {
	float:right;
	font-size:0.75em;
}
